/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.img-profile {
	float: right;
	width: 70%;
	height: auto;
	border-radius: 15px;
	max-width: 200px;
}

.jumbotron {
  background-image: url('banner/BG_lower.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.btn-list {
  margin-top: 0.5rem;
}

.img-icon {
  width: 24px;
  height: auto;
  border-radius: 5px;
}

#mapid {
  align: center; 
  height: 240px;
  width: auto;
}