/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

img {
  width: 24px;
  height: auto;
  border-radius: 5px;
}

#mapid {
  align: center; 
  height: 240px;
  width: auto;
}

.jumbotron {
  background-image: url('banner/BG_lower.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}